* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  a {
    margin: 0;
    padding: 0;
  }
  
  .page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color:gray;
    font-size: 26px;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  
  .plus,
  .minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 40px;
    background: white;
    font-size: 200px;
    font-weight: bold;
    border: 4px solid blue;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .resultCounter {
    font-size: 100px;
    color: white;
  }